section {
    margin: 2%;
    padding: 5% 2% 5% 2%;
    background-color: lightpink;
    border-radius: 35%;
    text-align: center;
}

section h2, section p {
    width: 80%;
    align-self: center;
}

h2 {
    color:aliceblue
}