@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  margin: auto;
  font-family: 'Muli',sans-serif;
  font-size: 1em;
  margin-top: 85px;
  text-align: right;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.25rem;
  background-color: #F9F9F9;
  /* max-width: 1024px; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
  font-size: 3em;
  align-self: left;
  text-align: left;
  justify-self: center;
  padding: 0 0.25rem;
  margin: 0 0 0 0;
  color: '#303030';
}
.orange{
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 3rem 0 3rem 0;
  background-image: url('../public/hd-wallpaper-g60b2844e1_1920.jpeg');
  background-size: cover;
}
  /* .orange::before {
  position:absolute;
  opacity: 0.05;
  background-color: #000000;
  content:"";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */

.orange h1, .orange p {
  color: #FFFFFF;
}

.orange a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 800;
  font-size:large;
  margin-right: -5%;
}

.orange a:hover {
  color: #909090;
  text-decoration:solid;
}

.hero {
  /* background-color: #cccccc; */
  /* right:24px; */
  min-height: 250px;
  margin-left: 1rem;
  color:#FFFFFF;
  align-self: flex-end;
}

@media screen and (min-width: 500px) {
  .hero p{
   width: 75%;
   /* right:-48px; */
  }
  }


.selector, select {
  color: #505050;
  text-align:center;
  background-color: #63D471;
  font-size: 2rem;
}

.advInstructions {
  text-align: left;
  margin:auto;
}

@media screen and (min-width:1280px) {
  .advInstructions{
  max-width: 1024px;
  }
}

.advInstructions button {
  align-self: right;
}


.lowerInvisContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.chartCaptionContainer {
  /* max-width: 1024px; */
  display: flex;
  padding: 1rem 0 1rem 0;
  opacity: 0.9;
  margin: auto;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 1280px) {
  .chartCaptionContainer {
    flex-direction: column;
    margin:auto;
    justify-content: space-evenly;
    align-content: center;}
  }

@media screen and (min-width: 1280px) {
  .chartCaptionContainer {
    flex-direction: row;
    width: 80%;
    max-width: 2048px;
    margin:auto;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;}
    }

.chart {
  border-radius: 5%;
  background-color: rgba(40,100,150, 0.1);
  align-self: center;
  justify-self: center;
  max-width: 640px;
  width: 100%;
  height: auto;
  max-height: 1024px;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
}

.caption {
  display: flex;
  background-color: rgba(40,100,150, 0.1);
  border-radius: 5%;
  color: #404040;
  text-align: center;
  text-justify: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 1280px) {
  .caption{
  padding: auto;
  min-width: 400px;
  max-width: 640px;
  height: auto;
  text-align: center;
  text-justify: center;
  font-size: x-large;
  margin: 1rem 1rem 1rem 1rem;
}
  .chart {
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-justify: center;
  }
  table {
    font-size: 0.8rem;
    padding: auto;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .caption {
    min-width: 55%;
    max-width: 80%;
    justify-self: center;
    align-self: center;
  }
}

table {
  margin: auto;
  justify-self: center;
  padding: 1em 1em 1em 1em;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 0.5em;
  }
}

.small-text{
  font-size: 1em;
  text-align: center;
}

.footer {
  font-size: 0.5em;
  text-align: center;
}


/* about pages */
.about{
  width: 80%;
  align-self: center;
  color: #404040;
  margin: auto;
  background-color:rgba(40,100,150, 0.1);
  border-radius: 5%;
  text-align: right;
  text-justify: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem auto 1rem auto;
}

.profile {
  display: grid;
  justify-content: center;
  align-items: center;
}

.profile-header{
  /* grid-area:1/1/2/3; */
  text-align: right;
  margin: 0 3rem;
}

@media screen and (max-width:1024px) {
  .profile {
    grid-template-rows:auto auto;
  }
  .profile img {
    max-width: 80%;
    margin:auto;
    text-align: center;
  }
}

@media screen and (min-width:1024px) {
  .profile {
    grid-template-columns: 1fr 1fr;
  }
  .profile img {
    max-width: 50%;
    height: auto;
    align-self: flex-start;
    justify-self: center;
  }

}

/* FAQ section */
.FAQ {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem auto 1rem auto;
}

.accordion-title {
  font-size: xx-large;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  background-color:rgba(40,100,150, 0.1);
}

.accordion-content {
  margin: 0 auto 1rem auto;
  padding: 0.25rem 1rem 1rem 1rem;
  background-color:rgba(40,100,150, 0.05);
}

/* Findings */
.finding-section {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  background-color:rgba(40,100,150, 0.05);
  text-align: left;

}

@media screen and (min-width: 720px) {
  .finding-section {
    max-width: 65%;
  }
}

@media screen and (max-width: 720px) {
  .finding-section {
    max-width: 95%;
  }
}


/* Contact Page */
.contact-container {
  display: flex
}

@media screen and (min-width:1024px) {
  .contact-container{
  flex-direction: row;
  max-width: 1280px;
  margin: auto;
  justify-content: space-evenly;
  }
}

@media screen and (max-width:1024px) {
  .contact-container{
  flex-direction: column
  }
}

.contact {
  max-width: 400px;
  margin: 2rem auto 2rem auto;
  background-color: rgba(40,100,150, 0.1);
}

.contact :hover {
  border-radius: 25%;
}

.contact-header {
  font-size: 2em;
  background-color: rgba(40,100,150, 0.2);
  padding: 5%;
}

.contact-body {
  margin: 2rem 1rem 2rem 1rem;
}

.contact-body :hover {
  border-radius: 25%;
}

.contact-icons{
  display: flex;
  flex-direction: row;
  font-size: 2em;
  text-align: center;
  justify-content: space-evenly;
}