@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  font-family: 'Muli',sans-serif;
  font-size: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
  font-size: 3em;
}

.menu {
  background-color: red;
}

.hero {
  background-color: orange;
}

.selector {
  background-color: yellow;
}

.chart {
  background-color: green;
  max-width: 90%;
  max-height: 50%;
  align-self: center;
}

.caption {
  background-color: blue;
}