@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  margin: auto;
  font-family: 'Muli',sans-serif;
  font-size: 1em;
  margin-top: 85px;
  text-align: right;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.25rem;
  background-color: #F9F9F9;
  /* max-width: 1024px; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
  font-size: 3em;
  align-self: left;
  text-align: left;
  justify-self: center;
  padding: 0 0.25rem;
  margin: 0 0 0 0;
  color: '#303030';
}
.orange{
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 3rem 0 3rem 0;
  background-image: url('../public/hd-wallpaper-g60b2844e1_1920.jpeg');
  background-size: cover;
}
  /* .orange::before {
  position:absolute;
  opacity: 0.05;
  background-color: #000000;
  content:"";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */

.orange h1, .orange p {
  color: #FFFFFF;
}

.orange a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 800;
  font-size:large;
  margin-right: -5%;
}

.orange a:hover {
  color: #909090;
  text-decoration:solid;
}

.hero {
  /* background-color: #cccccc; */
  /* right:24px; */
  min-height: 250px;
  margin-left: 1rem;
  color:#FFFFFF;
  align-self: flex-end;
}

@media screen and (min-width: 500px) {
  .hero p{
   width: 75%;
   /* right:-48px; */
  }
  }


.selector, select {
  color: #505050;
  text-align:center;
  background-color: #63D471;
  font-size: 2rem;
}

.advInstructions {
  text-align: left;
  margin:auto;
}

@media screen and (min-width:1280px) {
  .advInstructions{
  max-width: 1024px;
  }
}

.advInstructions button {
  align-self: right;
}


.lowerInvisContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.chartCaptionContainer {
  /* max-width: 1024px; */
  display: flex;
  padding: 1rem 0 1rem 0;
  opacity: 0.9;
  margin: auto;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 1280px) {
  .chartCaptionContainer {
    flex-direction: column;
    margin:auto;
    justify-content: space-evenly;
    align-content: center;}
  }

@media screen and (min-width: 1280px) {
  .chartCaptionContainer {
    flex-direction: row;
    width: 80%;
    max-width: 2048px;
    margin:auto;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;}
    }

.chart {
  border-radius: 5%;
  background-color: rgba(40,100,150, 0.1);
  align-self: center;
  justify-self: center;
  max-width: 640px;
  width: 100%;
  height: auto;
  max-height: 1024px;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
}

.caption {
  display: flex;
  background-color: rgba(40,100,150, 0.1);
  border-radius: 5%;
  color: #404040;
  text-align: center;
  text-justify: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 1280px) {
  .caption{
  padding: auto;
  min-width: 400px;
  max-width: 640px;
  height: auto;
  text-align: center;
  text-justify: center;
  font-size: x-large;
  margin: 1rem 1rem 1rem 1rem;
}
  .chart {
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    text-justify: center;
  }
  table {
    font-size: 0.8rem;
    padding: auto;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .caption {
    min-width: 55%;
    justify-self: center;
    align-self: center;
  }
}

table {
  margin: auto;
  justify-self: center;
  padding: 1em 1em 1em 1em;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 0.5em;
  }
}

.small-text{
  font-size: 1em;
  text-align: center;
}

.footer {
  font-size: 0.5em;
  text-align: center;
}