@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  font-family: 'Muli',sans-serif;
  font-size: 1em;
  margin-top: 85px;
  text-align: center;
  justify-content: space-evenly;
  padding: 0 0.25rem;
  max-width: 1024px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
  padding:0.5rem;
  font-size: 3em;
  align-self: left;
  text-align: left;
  justify-self: center;
  padding: 0 0.25rem;
}

.hero {
  background-color: orange;
  right:-24px;
}

.selector, select {
  background-color: yellow;
  font-size: 3rem;
  max-width: 1024px;
}

.chart {
  background-color: green;
  max-width: 1024px;
  width: 100%;
  max-height: 1024px;
  align-self: center;
  text-align: center;
}

.caption {
  background-color: aqua;
}

.small-text{
  font-size: 1em;
  text-align: left;
}