@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  margin: auto;
  font-family: 'Muli',sans-serif;
  font-size: 1em;
  margin-top: 85px;
  text-align: right;
  justify-content: space-evenly;
  padding: 0 0.25rem;
  /* max-width: 1024px; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
  font-size: 3em;
  align-self: left;
  text-align: left;
  justify-self: center;
  padding: 0 0.25rem;
  margin: 0 0 0 0;
  color: #303030;
}
.orange{
  padding-bottom: 10px;
}

.hero {
  border-color: pink;
  /* right:24px; */
}

@media screen and (min-width: 500px) {
  .hero p{
   width: 65%;
   /* right:-48px; */
  }
  }


.selector, select {
  color: #505050;
  text-align:center;
  background-color: #63D471;
  font-size: 2rem;
}

.advInstructions {
  text-align: left;
}

.advInstructions button {
  align-self: right;
}


.chartCaptionContainer {
  max-width: 1024px;
  display: flex;
  margin:auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem 0 1rem 0;
}
/* @media screen and (max-width: 1024px) {
  .chartCaptionContainer {
    flex-direction: column;}
  }

@media screen and (min-width: 1024px) {
  .chartCaptionContainer {
    flex-direction: row;
    align-self: center;
    justify-self: center;}
    } */

.chart {
  align-self: center;
  justify-self: center;
  max-width: 640px;
  width: 100%;
  max-height: 1024px;
  text-align: center;
  padding: 0 0 1rem 0;
}

.caption {
  background-color: aqua;
  color: #404040;
  text-align: center;
  text-justify: center;
  padding: 1rem 1rem 1rem 1rem;
}

table {
  margin: auto;
  justify-self: center;
  padding: 1em 1em 1em 1em;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 0.5em;
  }
}

.small-text{
  font-size: 1em;
  text-align: center;
}